html {
  font-family: 'Roboto', sans-serif;
  width: 100%; }

h1 {
  display: none; }

#index {
  background-color: #cfcfcf;
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: auto auto auto; }

header {
  grid-area: header; }
  header .nav-item {
    font-size: 18px; }

.formulario {
  display: flex;
  justify-content: center; }

main {
  grid-area: main; }
  main section {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%; }
    main section h2 {
      color: #3ab6a1;
      text-align: center;
      margin-bottom: 40px; }
    main section h3 {
      color: #202020;
      font-size: 18px;
      margin: 1%; }
    main section h4 {
      color: #202020;
      font-size: 14px;
      margin: 1%; }
  main .carousel-inner img {
    max-height: 580px; }

.card {
  transition: 0.4s ease-in-out; }

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.usuarioBg {
  background-image: url(../imagenes/student-g5ccba7922_1920.jpg);
  background-position: center;
  background-size: cover; }

.nosotros {
  background-image: url(../imagenes/laboratorio.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  height: 550px; }

footer {
  grid-area: footer;
  background-image: linear-gradient(#cfcfcf 1%, #202020 25%);
  color: white; }
  footer a {
    color: white;
    text-decoration: none; }

.galeriaProductos article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start; }
  .galeriaProductos article img {
    margin: 10px;
    width: 300px;
    border-radius: 5%; }

@media (min-width: 1024px) {
  .galeriaProductos img {
    width: 200px;
    border-radius: 10%; }
  .galeriaProductos img:hover {
    transform: scale(1.05, 1.05); }
  #logoFooter {
    display: block;
    width: 10vw; }
  .nosotros p {
    font-size: 20px;
    line-height: 45px; }
  .nosotros h2 {
    font-size: 1.5 rem; } }
