
$colorPrincipal: rgb(58, 182, 161);
$colorFondo: rgb(207, 207, 207);
$colorContraste: rgb(32, 32, 32);


html {
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

h1{
    display: none;
}

#index {
    background-color:$colorFondo;
    display:grid;
    grid-template-areas:
    "header"
    "main"
    "footer";
    grid-template-rows: auto auto auto;
}

header{
    grid-area: header;
    .nav-item{
    font-size: 18px;
    }
}

.formulario{
    display: flex;
    justify-content: center;
}

main{
    grid-area: main;
    section{
        padding-top: 50px;
        padding-bottom: 50px;
        width: 100%;
            h2{
            color: $colorPrincipal;
            text-align: center;
            text-shadow: 1px 1px 2px rgb(75, 75, 75);
            margin-bottom: 40px;
            }

            h3{
            color: $colorContraste;
            font-size: 18px;
            margin: 1%;
            }

            h4{
            color: $colorContraste;
            font-size: 14px;
            margin: 1%;
            }
            h5{
                color: $colorContraste;
                font-size: 13px;
                margin: 1%;
                }

            p{
                font-size: 1.5rem;            }
    }
    .carousel-inner{
        img{
            max-height: 100vh;
        }
    }
    
}

.navbar .navbar-collapse {
    text-align: center;
  }

.btn-wsp{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 15px;
    right: 15px;
    background-color: #0df053;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.4);
    z-index: 100;
    transition: .5s ease-in-out;
}

.btn-wsp:hover{
    transform: translateY(-10px);
    text-decoration: none;
    background-color: #fff ;
    color: #0df053;
}



.usuarioBg{
    background-image: url(../imagenes/student-g5ccba7922_1920.jpg);
    background-position: center;
    background-size: cover;
}


.nosotros{
    background-image: url(../imagenes/laboratorio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    height: 80vh;
    p{
        font-size: 4vw;
    }
    }

.carrito{
    margin: 0;
    padding: 0;
    font-size: 0.7rem;
    h5{
        font-size: 0.7rem;    
    }
}

footer {
    grid-area: footer;
    background-image: linear-gradient($colorFondo 1%, $colorContraste 25%);
    color: white;
    
    a{
        color:white;
        text-decoration: none;}
        
    
 }

.galeriaProductos article{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:flex-start;
    justify-content:flex-start;
        img{
            margin: 10px;
            width: 300px;
            border-radius: 5%;
        }
}

@media (min-width:600px){
    .nosotros{
            p{
                font-size: 2.5vw;
                line-height: 5vw;
            }
    }

    .carrito{
        font-size: 1rem;
        h5{
            font-size: 1rem;    
        }
    }

}

@media (min-width:1024px){
    .nosotros{ 
            p{
                font-size: 1.7vw;
            }
    }

    .card{
        transition: 0.3s ease-in-out;
    }
    
    .card:hover{
        transform: translateY(-10px);
        box-shadow: 0 12px 16px rgba(0, 0, 0, 0.4)
    }
    
    .servicios{
                .card{transition: .5s ease-in-out;
                filter: grayscale(70%);
            }
    }
    
    .servicios .card:hover{
        filter: grayscale(0%);
    }
}