
$colorPrincipal: rgb(58, 182, 161);
$colorFondo: rgb(207, 207, 207);
$colorContraste: rgb(32, 32, 32);


html {
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

h1{
    display: none;
}

#index {
    background-color:$colorFondo;
    display:grid;
    grid-template-areas:
    "header"
    "main"
    "footer";
    grid-template-rows: auto auto auto;
}

header{
    grid-area: header;
    .nav-item{
    font-size: 18px;
    }
}

.formulario{
    display: flex;
    justify-content: center;
}

main{
    grid-area: main;
    section{
        padding-top: 50px;
        padding-bottom: 50px;
        width: 100%;
            h2{
            color: $colorPrincipal;
            text-align: center;
            margin-bottom: 40px;
            }

            h3{
            color: $colorContraste;
            font-size: 18px;
            margin: 1%;
            }

            h4{
            color: $colorContraste;
            font-size: 14px;
            margin: 1%;
            }
    }
    .carousel-inner{
        img{
            max-height: 550px;
        }
    }
}

.card:hover{
    transform: scale(1.03,1.03) ;
}

.nosotros{
    background-image: url(../imagenes/laboratorio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    height: 500px;
    p {
        color:whitesmoke;
        text-align:center;
        line-height: 2rem;
        font-size: 0.8rem;
        margin-left: 5%;
        margin-right: 5%;
        letter-spacing: 1px;
        background-color: rgba(0, 0, 0, 0.699); }
        h2 {
            color: #017a7a; 
            font-size: 1.5rem;
            font-weight: bold;
            text-align: center;
            padding-bottom: 2%;
            position: relative;
            letter-spacing: 2px;
            text-shadow: white 1px 1px;
        }
    }

footer {
    grid-area: footer;
    background-image: linear-gradient($colorFondo 1%, $colorContraste 30%);
    color: white;
    
    a{
        color:white;
        text-decoration: none;}
    
        
    
    
 }

.galeriaProductos article{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:flex-start;
    justify-content:flex-start;
        img{
            margin: 10px;
            width: 300px;
            border-radius: 5%;
        }
}

@media (min-width:1024px){
    .galeriaProductos img{
        width: 200px;
        border-radius: 10%;
    }

    .galeriaProductos img:hover{
        transform: scale(1.05,1.05);
    }

    #logoFooter{
        display: block;
        width: 10vw;
    }

    .nosotros{
        p{
            font-size: 20px;
            line-height: 45px;
        }
        h2{
            font-size: 1.5 rem;
        }
    }

}

